body{
background-color: lightpink;
}
h1{
color:#CC9933;
text-align: center;
border: dashed;
}
h2{
color:#CC9933;
font-family: Comic Sans MS;
border:3px solid white;
}
p{
color: black;
font-family: Comic Sans MS;
text-align: left;
}


input{
	background-color:#CCCC66;
}	

